
body {
	background-color: white;
	font-family: Sans-serif;
}

h1 {
	color: DarkSlateGrey;
}

p {

}

div {
	margin: 20px 20px 20px 20px;
}

#projbox {
	background-color: #f4fcf3;
	padding: 20px;
}

* {
	margin: 10px 10px 10px 10px;
}
