.token {
    margin: 5px;
    border-style: dotted;
    border-width: thin;
    padding: 5px;
    border-color: gray;
    height: fit-content;
    align-self: center;
}

.list {
    padding: 2px;
    border-style: dashed;
    border-width: thin;
    display: inline-flex;
    border-color: cadetblue;
    margin-left: 5px;
}

.list .list:before {
    content:'(';
    align-self: center;
}

.list .list:after {
    content:')';
    align-self: center;
}

.highlight {
    background: #eeeeee;
  }

.greentext {
	color: green;
}

.redtext {
	color: red;
}

.box {
	padding: 20px;
	border-style: solid;
	border-width: thin;
	margin: auto;
	width: 70%;
}

.box-dot {
	padding: 10px;
	border-style: dotted;
	border-width: thin;
	margin: auto;
	margin-top: 10px;
	width: 70%;
}


/*The rest is page styling, not lambda calculus styling.
TODO: move to some other style file?*/
#side_by_side {
    display: flex;
    flex-direction: row;
    width:95%;
}

#expression_box {
    display: inline-block;
    flex-grow: 1;
    margin:10px;
}

#symbol_box {
    display: inline-block;
    flex-shrink: 0
}

table.expr_table td {
    border:1px black solid;
    padding:10px
}

body {
	margin: 0;
}

main{
	margin: auto;
	margin-bottom: 30px;
	padding: 15px;
	max-width: 60em;
	font-size: 19px;
	line-height: 1.5em;
}

footer{
	padding: 10px;
	background-color: #b5e7a0;
	text-align: center;
	font-size: 16px;
}	

div {
	margin: 5px 5px 5px 5px;
}

hr.bigline {
	margin-bottom: 20px;
	border-style: hidden;
}

hr.general {
	margin-top: 20px;
	margin-bottom: 20px;
	border-style: solid;
	border-color: #86af49;
}

h1 {
	margin-top: 20px;
	padding: 25px;
	background-color: #b5e7a0;
	font-size: 200%;
	/*outline-style: outset;
	outline-width: medium;
	outline-color: #d5e1df;
	border-radius: 5px;*/
}

h2 {
	margin: 10px 0px 10px 0px;
	color: #86af49;
}

h3 span {
	border-radius: 5px;
	background-color: #b5e7a0;
	padding: 10px 20px 10px 10px;
}

div.example {
	margin: 2px;
	padding: 5px;
	border-style: solid;
	border-color: #d5e1df;
}

